#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define XXX &none
#define ___ &trans

#define COMBO_TIMEOUT 60

#define DEF 0
#define NUM 1
#define SYM 2
#define FN 3
#define SYS 4

/ {
    macros {
	nayeon: nayeon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap_time 10>
		,<&macro_tap &kp N &kp A &kp Y &kp E &kp O &kp N &kp RET>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_cw {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <6 30>;
            bindings = <&nayeon>;
        };
    };
};

/ {
        bht: balanced_hold_taps {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;    // <---[[moderate duration]]
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            quick-tap-ms = <175>;       // repeat on tap-into-hold
            require-prior-idle-ms = <150>;
        };
    };
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                DEF_layer {
                        display-name = "Base";
                        bindings = <
            //╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
&bht LS(LC(LALT)) ESC      &kp Q         &kp W          &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O       &lt SYS P     &kp DEL
            //├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
&bht LS(LC(LA(LGUI))) TAB  &mt LALT A  &mt LSHFT S   &mt LGUI D    &mt LCTRL F    &kp G             &kp H        &mt RCTRL J     &mt RGUI K    &mt RSHFT L &mt RALT SEMI  &kp LG(TAB)
            //├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
&bht LS(LA(LGUI)) BSPC    &lt FN Z    &bht LG(X) X   &bht LG(C) C  &bht LG(V) V  &bht LG(A) B       &kp N           &kp M        &kp COMMA      &kp DOT     &kp FSLH      &kp LC(TAB)
            //├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                                      &kp LALT    &mt LGUI SPC  &lt SYM ESC       &lt NUM RET  &mt RCTRL BSPC   &kp RSHFT
             //                                    ╰─────────────┼─────────────┴─────────────╯   ╰─────────────┴─────────────┼─────────────╯
                        >;
                };

                

                NUM_layer {
                        display-name = "Number";
                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___        &kp N1        &kp N2         &kp N3      &kp N4         &kp N5          &kp N6        &kp N7       &kp N8         &kp N9        &kp N0         ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___        &kp F1        &kp F2         &kp F3      &kp F4         &kp F5          &kp LEFT      &kp DOWN     &kp UP         &kp RIGHT     &kp F11        ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___        &kp F6        &kp F7         &kp F8      &kp F9         &kp F10         &kp HOME      &kp END     &kp PG_UP       &kp PG_DN     &kp F12        ___
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                          ___           ___            ___             ___           &kp CLCK       ___
//                                      ╰────────────╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯─────────────╯                                           
                        >;
                };

		        SYM_layer {
                        display-name = "Symbol";
                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────────────┬──────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___        &kp EXCL      &kp AT       &kp HASH      &kp DLLR      &kp PRCNT        &kp CARET      &kp AMPS       &kp STAR      &kp LPAR     &kp RPAR        ___
//├──────┤ ├──────!──────┼─────@───────┼──────#──────┼─────$───────┼──────%──────┤ ├───────^──────┼──────&───────┼──────*──────┼─────(──────┼───────)──────┤ ├──────┤
    ___        &kp LT        &kp GT       &kp BSLH      &kp GRAVE     &kp MINUS        &kp EQUAL      &kp COLON      &kp SQT       &kp LBKT     &kp RBKT        ___
//├──────┤ ├──────<──────┼─────>───────┼──────\──────┼─────`───────┼──────-──────┤ ├───────=──────┼──────:───────┼──────'─────┼──────[─────┼────────]──────┤ ├──────┤
    ___         ___          ___         &kp PIPE      &kp TILDE     &kp UNDER        &kp PLUS       &kp QMARK      &kp DQT       &kp LBRC     &kp RBRC        ___
//├──────┤ ╰─────────────┼─────────────┴──────|──────┼─────~───────┼──────_──────┤ ├───────+──────┼──────?───────┼──────"─────┼──────{──────┼───────}──────╯ ╰──────╯
                                             ___          ___            ___              ___          ___           ___                                    
//                                     ╰─────────────┴─────────────┴─────────────╯ ╰──────────────┴──────────────┼─────────────╯                                     
                        >;
		};

                FN_layer {
                        display-name = "Function, F key";
                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___        ___         ___           ___           ___          ___              ___            &kp F7        &kp F8        &kp F9         &kp F12       ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___        ___         ___           ___           ___          ___              ___            &kp F4        &kp F5        &kp F6         &kp F11       ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___        ___         ___           ___           ___          ___              ___            &kp F1        &kp F2        &kp F3         &kp F10       ___
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                               ___        ___           ___            ___           ___           ___                                       
//                                           ╰──────╯╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯╰──────╯                                           
                        >;
		};

                        		SYS_layer {
                        display-name = "Bluetooth, Reset";
                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___    &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_CLR       &bt BT_CLR    &bt BT_SEL 0  ___           ___           ___             ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___     &kp A         ___           ___           ___            &bootloader      &bootloader   ___           ___           ___           &kp A           ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___     ___           ___           ___           ___            &sys_reset       &sys_reset    ___           ___           ___           ___             ___
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
    ___                                                ___           ___              ___           ___                                                       ___
//╰──────╯                                           ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯                                           ╰──────╯
                        >;
		};

        };
};
